@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: aqua;
}

.container {
    background-color: blanchedalmond;
    width: 840px;
    padding: 30px;
    margin-top: 21px;
    border-radius: 15px;

}

.top-players {
    margin-bottom: 30px;
}

main {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}

.section-title {
    color: blue;
    font-size: 24px;
    margin-top: 3px;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;

}

.player img {
    width: 56px;
    height: 56px;
}

.player {
    display: flex;
    align-items: center;
}

.player-name {
    margin-left: 16px;
    font-size: 18px;
}

hr {
    border: 1px solid yellowgreen;
    margin-bottom: 27px;
}


.blog-info {
    margin-left: 16px;
}

.blog {
    display: flex;
}

.blog-author a {
    text-decoration: none;
    font-size: 16px;
    color: springgreen;

}

.blog .thumbnail img {
    width: 117px;
    height: 117px;
}

.blog-title {
    font-size: 20px;
}

.blog-author {
    color: black;
    font-size: 16px;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}

.course .course-banner img {
    width: 224px;
    height: 104px;
}

.fa-star {
    font-size: 12px;
}

.fa-star.filled {
    color: gold;
}

.fa-star.empty {
    color: gray;
}

.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
}

.course-info {
    display: flex;
    justify-content: space-between;
}

.course-duration {
    color: tomato;
    /* background-color: steelblue; */
}

/* ....................... */
/* media queries */
/* -------------------- */
/* mobile devices */
@media only screen and (max-width:688px) {
    .container {
        width: 100%;
    }

    .players,
    .blogs,
    .courses {
        /* background-color: red; */
        grid-template-columns: repeat(1, 1fr);
    }

    .player,
    .blog {
        flex-direction: column;
    }

}

/* tablet device */
@media only screen and (min-width:668px) and (max-width:992px) {

    .players,
    .courses {
        /* background-color: yellow; */
        grid-template-columns: repeat(2, 1fr);

    }

    .blogs {
        grid-template-columns: repeat(1, 1fr);

    }

    .container {
        width: 100%;
    }
}